<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu Options</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css?foo=30969" type="text/css"/>
    <link rel="shortcut icon" type="image/jpg" href="/static/favicon.ico"
          integrity="sha384-q33icEQ1qXa1GKPQGgwpPiDKLEsaycFaxtdIt27C39oif4BsLU8dAG8uUcvKEZ/k"
          crossorigin="anonymous"/>
    <script
            src="https://jreddy1.w3.uvm.edu/getStock.js"
            integrity="sha384-eLjZLjnEqrqfoIzgU/ObMimoH+M3VIrXBaNuJyCDBRARMwzvENHbNIOs8PgnaJUT"
            crossorigin="anonymous">
    </script>
</head>

<body onload="loadStockData()">
<div id="visible-content">
    <div id="masthead">
        <a href="/home"
           integrity="sha384-q33icEQ1qXa1GKPQGgwpPiDKLEsaycFaxtdIt27C39oif4BsLU8dAG8uUcvKEZ/k"
           crossorigin="anonymous"><img src="/static/lock.png" width="40" height="40" alt="Secure"/></a>
        <h1>Secure Intranet System Menu</h1>
    </div>

    <div id="content">
        <h2>HR Documents</h2>
        <div class="card">
            <h4>Profile for {{ user_account_name }}</h4>
            <h4>Authorization Level: {{ auth_ }}</h4>
        </div>
        <p>You have accessed the HR Documents Menu!</p>
        <p>Congrats!</p>
        <div class="card">
            <h4><a href="/menuoptions"
                   integrity="sha384-q33icEQ1qXa1GKPQGgwpPiDKLEsaycFaxtdIt27C39oif4BsLU8dAG8uUcvKEZ/k"
                   crossorigin="anonymous">Return to Main Menu</a></h4>
        </div>
    </div>

    <footer>
        <strong>Zoe Silverman</strong><br/>UVM: CS166 - Cybersecurity Principles
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</div>
<div id="other"></div>
</body>
</html>
